body {
    height: 100%vh;
    margin-bottom: 0;
    background-image: url(./images/libraryimg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

button:focus {
    outline: none;
    border: 1px solid rgba(4, 40, 47, 0.7);
}

header {
    background-color: rgba(111, 158, 166, 0.9);
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    color: aliceblue;
}

.Book_container {
    padding: 5% 10%;
    display: flex;
    /* grid-template-columns: repeat(3, 1fr); */
    gap: 5em;
    justify-content: center;

}

.book_div {
    background-color: rgb(111, 158, 166, 0.9);
    border: 1px solid rgb(111, 158, 166, 0.5);
    color: aliceblue;
    border-radius: 5px;
    padding: 10px 20px;
    font-weight: 550;

}

.card_btn {
    margin: 2px;
    padding: 5px 8px;
    background-color: rgb(240, 248, 255, 0.8);
    border: 1px solid rgb(240, 248, 255, 0.8);
    border-radius: 5px;
    color: rgba(20, 50, 62, 0.792);
    font-weight: 550;
}

.card_btn:hover {
    background-color: rgba(75, 141, 153, 0.529);
    color: aliceblue;
}

.add_btn {
    margin-top: 0;
    height: 20px;
    text-align: center;
}

.add_new_btn {
    padding: 10px 20px;
    background-color: rgb(240, 248, 255, 0.8);
    border: 1px solid rgb(240, 248, 255, 0.8);
    border-radius: 5px;
    color: rgba(9, 21, 44, 0.792);
    font-weight: 700;
}

.add_new_btn:hover {
    background-color: rgba(75, 141, 153, 0.529);
    color: aliceblue;
}

.newbookdialogue {
    width: 25%;
    height: 35%;
    background-color: rgb(111, 158, 166, 0.7);
    border: 1px solid rgb(240, 248, 255, 0.7);
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    color: beige;
}

form input {
    border-radius: 5px;
    border: 1px solid rgba(195, 213, 216, 0.7);
    padding: 5px;
    color: rgba(5, 50, 74, 0.738);
    font-weight: 550;
}

form input:focus {
    outline: none;
    border: 3px solid rgba(4, 40, 47, 0.7);
}



form label {
    font-weight: 600;
}